<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377530983349-4c2r1a3e9htlnqarkec4fknr47r093tt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377530983349-4c2r1a3e9htlnqarkec4fknr47r093tt</string>
	<key>API_KEY</key>
	<string>AIzaSyDXShClDgNTsisD0xB44sxrReJiqi08J9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>377530983349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trashhub</string>
	<key>PROJECT_ID</key>
	<string>trashhub-9f4af</string>
	<key>STORAGE_BUCKET</key>
	<string>trashhub-9f4af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377530983349:ios:12873435b350ecd42eaffc</string>
</dict>
</plist>